include ../../_include/_defaultLayout_en.jade
!!!
html(lang="en")
  head
    mixin head()
    +title("About us")
    
  body
    #wrap
      mixin header()
      // Content Part
      .container
        // Service Blocks 
        .row
          .col-md-12
            h1.headline Green Solutions - About us
        .row.headline
          .col-md-6
            h2 History
            p Greensolutions was founded as Cafel S.A. in 2007, a consulting company in construction. Then we expanded the work area to the sustainable use of natural resources. To highlight this new course, we adapted the name Greensolutions S.A.
          .col-md-6
            h2 Mission:
            p Promote investments in sustainability for safe and durable returns.
        .row.headline.personal
          .col-md-3
            h2 President:
            p <strong>Lic. Rosemarie Jann</strong>
            button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#rosemarie")
              | Biography
          .col-md-9
            img(src="/img/quienesSomos/rosemariejann.jpg" alt="Rosemarie Jann" class="img-thumbnail")

        .row.headline.personal
          .col-md-3
            h3 Constructions Group:
            p Arq. Alcides Adorno
            button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#alcides")
              | Biography
          .col-md-3
            img(src="/img/quienesSomos/alcides.jpg" alt="Alcides Adorno" class="img-thumbnail")
          .col-md-3
            h3 Forestry Group:
            p Ing. Juan Adolfo Romero
            button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#adolfo")
              | Biography
          .col-md-3
            img(src="/img/quienesSomos/adolfo.jpg" alt="Adolfo Romero" class="img-thumbnail")
        .row.headline.personal
          .col-md-3
            h3 Agricultural Group:
            p Ing. Rodolfo von Glasenapp
            button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#rodolfo")
              | Biography
          .col-md-3
            img(src="/img/quienesSomos/rodolfo.jpg" alt="Rodolfo von Glasenapp" class="img-thumbnail")
          .col-md-3
            h3 Energy Group:
            p Lic. Rosemarie Jann
            button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#rosemarie")
              | Biography
          .col-md-3
            img(src="/img/quienesSomos/rosemariejann.jpg" alt="Rosemarie Jann" class="img-thumbnail")


        //Modal Alcides Adorno
        div(class="modal fade" id="alcides" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                h4(class="modal-title" id="myModalLabel") Eladio Alcides Adorno Peña
              .modal-body
                p Alcides has over 15 years experience in Architecural design, Civil Engineering and Construction supervision and was winner of numerours awards in his area.
                p After finishing his studies of Architecture at Universidad Nacional de Asunción, he amplified his professional field with postgraduate degrees in Financial Administration and Didactics.
                p He was ordinary professor holding the Chair of Construction planning at the Faculty of Architecure of the Universidad Nacional de Asunción, and professor holding the chair of Project development at the Universidad Americana.
                p Alcides participated at competitions in Architecture and Urban planning and won numerours awards like: Petrobras, Club Internacional de Tenis, Municipalidad de Villa Elisa, Santa Elena Country Club y Caja Mutual de Cooperativistas.
                p He is author of works like the Parque Industrial Panamericano, Petrobras, Salon Vip Citibank which currently is under construction, and also participated at urban interventions, improvement plans and waterfront in cities like Concepción, Villa Elisa and Villeta.
                p Currently he is Chief consultant of Greensolutions construction team and leads an Architecture office with several projects all over the country. 
              .modal-footer
                button(type="button" class="btn btn-default" data-dismiss="modal") Close

        //Modal Juan Adolfo Romero
        div(class="modal fade" id="adolfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                h4(class="modal-title" id="myModalLabel") JUAN ADOLFO ROMERO RIVEROS
              .modal-body
                p Juan Adolfo has over 10 years of experience in environmental consultancy, ambiental project development and management in sectors related to forestry, industry, civil engineering and renewable energy.
                p He holds an Engineers degree in Forestry Science of the National University of Asuncion and  licences as Forestry Consultant (Infona) and Ambiental Consultant (SEAM). Juan Adolfo earned two Masters degrees in Environmental Auditoring and Urban Environment planning of the National Autonomeous University of Mexico.
                p Previously he was Senior Consultant at Aponte Latorre and Environmental Specialist in Consultora Guarani and responsible in the elaboration of environmental impact studies for major clients like Yacyreta or Itaipu Binacional.
                p Currently Juan Adolfo is President of the Paraguayan Association of Forestry Engineers and head of Greenssolutions ambiental consultancy group. He is responsible for designing environmential policies of projects and liasing with the national institutions and licencing offices.  
              .modal-footer
                button(type="button" class="btn btn-default" data-dismiss="modal") Close

        //Modal Rodolfo von Glasenapp
        div(class="modal fade" id="rodolfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                h4(class="modal-title" id="myModalLabel") Rodolfo von Glasenapp
              .modal-body
                p Rodolfo has over 20 years of experience in farm management, agricultural business development and land use planning. 
                p He holds an Engineers degree in Agricultural Science of the National University of Asuncion and licences as Agricutural Consultant (Senave) and Ambiental Consultant (SEAM) y Infona. Rodolfo earned two Masters degrees in Animal nurition (Piracicaba, Brazil) in Environmental Science and Land use planning of Universidad Nacional de Asuncion.
                p He was previously leading numereous land use transformation and agribusiness projects and worked as advisor for several German, Paraguayan and Multinational companies and institutions. 
                p Rodolfo is currently senior consultant of Grupo FD and chief agricultural consultant of Greensolutions. 
              .modal-footer
                button(type="button" class="btn btn-default" data-dismiss="modal") Close

        //Modal Rosemarie Jann
        div(class="modal fade" id="rosemarie" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                h4(class="modal-title" id="myModalLabel") Lic. Rosemarie JANN
              .modal-body
                p Rosemarie has over 15 years of experience in public relations and financial management in international environments with exceptional track records in business development and negotiations.
                p She holds a BSc degree in Systems Analisis of the National University of Asuncion with specialisations in Project Management and Business Development.
                p She was previously handling difficult international settlements in managerial positions in Brand-Rex (Fife, Scotland), Quintiles (Livingston, Scotland), Banco Sudameris (Asunción, Paraguay) and Banco Sur (Asunción, Paraguay). Until shortly Rosemarie was Sales Director of meeco America Latina, meeco’s subsidiary in Paraguay. 
                p Rosemarie has important track records in business development, sales, debt collection and settlement negotiations. 
              .modal-footer
                button(type="button" class="btn btn-default" data-dismiss="modal") Close

    mixin copyright()
