include ../../_include/_defaultLayout_en.jade
!!!
html(lang="en")
  head
    mixin head()
    title Green Solutions S.A. - Environmental and Forestry
  
  body
    #wrap
      mixin header()
        
      .container
        .row
          .col-md-6
            h1.headline Environmental and Forestry
            h3 OUR PROFESSIONAL SERVICES
            h4 Advisory and Consultancy 
            ul
              li Feasibility studies (Due diligence)
              li Investment analysis
              li Advice on purchase-sale of real estate
              li Valuations
              li Environmental analysis and diagnosis
            h4 Project development 
            ul
              li Environmental impact studies
              li Land use planning
              li Environmental audit 
              li No threat environmental certificates
              li Environmental restoration and ecosystem (research and development)
              li Water quality studies.
              li Preparation of thematic maps
              li Waste management systems
              li Recycling project development
            h4 Project management
            ul
              li Environmental services
              li Planning, implementation and management of forestry projects 
              li Management of rural properties
              li Environmental bonds management
          .col-md-6
            .row
              .col-md-12
                .lead-image
                  img(src="/img/forestalAmiental/bosque.jpg" class="img-thumbnail")
                  span(class="caption")
                    p bosque
            .row2.thumbs
              img(src="/img/forestalAmiental/bosque.jpg" class="img-responsive lead-thumb")
              img(src="/img/forestalAmiental/Estudio de calidad de agua.jpg" class="img-responsive lead-thumb")
              img(src="/img/forestalAmiental/Basura- selección y reciclaje.jpg" class="img-responsive lead-thumb")
              img(src="/img/forestalAmiental/Bosque nativo Alto Paraná 2009.jpg" class="img-responsive lead-thumb")
              img(src="/img/forestalAmiental/Plantación de Eucalyptus Concepción 2007.jpg" class="img-responsive lead-thumb")
              img(src="/img/forestalAmiental/Plantacion de Leucaena en sistema silvopastoril Chaco 2013.jpg" class="img-responsive lead-thumb")
              img(src="/img/forestalAmiental/Vivero forestal.jpg" class="img-responsive lead-thumb")
              img(src="/img/forestalAmiental/Reciclaje de baterías 2007.jpg" class="img-responsive lead-thumb")
                
        .row
          .col-md-12
            hr
            p Before the introduction of mechanised agriculture and livestock, Paraguay was one of the countries with widest forest extensions in the world. Ecological conditions for such forestry production are among the best in the world. However, the high rate of deforestation has come to an almost complete loss of natural forests with commercial aptitude. In parallel there is a sharp increase in domestic and international demand for timber and other forest products.
            p The national forest production is very limited compared to the growing demand, opening an extremely positive outlook for investments in the sector.
              
    mixin copyright()
    //
                                    