include ../../_include/_defaultLayout_de.jade
!!!
html(lang="de")
  head
    mixin head()
    title Green Solutions S.A. - Umwelt und Forst
    
  body
    #wrap
      mixin header()

      .container
        .row
          .col-md-6
            h1.headline Umwelt und Forst
            h3 Unsere Dienstleistungen
            h4 Beratung 
            ul
              li Machbarkeitsstudien & Due diligence
              li Investitionsanalyse in Forst und Umwelt 
              li Beratung in Ankauf und Verkauf von Immobilien
              li Wertermittlung
              li Forstinventur und Bewertung nativer Wälder und exotischer Pflanzungen
              li Bewertung ruraler Grundstücke
              li Umweltanalyse und Behördenliaison
              li Wasseranalysen
              li Umweltvertäglichkeitsstudien
              li Erstellung von Ungefährlichkeitszertifikaten
            h4 Projektentwicklung 
            ul
              li Landnutzungsplanung
              li Umweltauditorie
              li Umwelt und Ecosystemrestauration  
              li Erarbeitung thematischer Karten
              li Entwicklung von Recyclingprojekten
            h4 Projektmanagement
            ul
              li Planung, Implementation und Verwaltung forstwirtschaftlicher Projekte 
              li Verwaltung ländlicher Immobilien und forstwirtschaftlicher Betriebe 
              li Management von Umweltbonds
              li Müllentsorgungssyteme

          .col-md-6
            .row
              .col-md-12
                .lead-image
                  img(src="/img/forestalAmiental/bosque.jpg" class="img-thumbnail")
                  span(class="caption")
                    p bosque
            .row2.thumbs
              img(src="/img/forestalAmiental/bosque.jpg" class="img-responsive lead-thumb")
              img(src="/img/forestalAmiental/Estudio de calidad de agua.jpg" class="img-responsive lead-thumb")
              img(src="/img/forestalAmiental/Basura- selección y reciclaje.jpg" class="img-responsive lead-thumb")
              img(src="/img/forestalAmiental/Bosque nativo Alto Paraná 2009.jpg" class="img-responsive lead-thumb")
              img(src="/img/forestalAmiental/Plantación de Eucalyptus Concepción 2007.jpg" class="img-responsive lead-thumb")
              img(src="/img/forestalAmiental/Plantacion de Leucaena en sistema silvopastoril Chaco 2013.jpg" class="img-responsive lead-thumb")
              img(src="/img/forestalAmiental/Vivero forestal.jpg" class="img-responsive lead-thumb")
              img(src="/img/forestalAmiental/Reciclaje de baterías 2007.jpg" class="img-responsive lead-thumb")

        .row
          .col-md-12
            hr
            p Vor der Einführung von Viehzucht und mechnisierter Landwirtschaft war Paraguay eines der bewaldetsten Länder der Welt. Die Umweltbedingungen des Landes für eine produktive Forstwirtschaft gehören zu den besten der Welt. Die hohe Abholzungsrate der letzten Jahrzehnte hat zu einem nahezu vollständigen Verlust nativer Wälder mit kommerzieller Eignung geführt. Parallel hierzu ist die nationalen und internationalen Nachfrage nach Holz und anderen Forstprodukten stark gestiegen.
            p Die nationale Holzproduktion ist relativ zur Nachfrage sehr begrenzt, so dass sich hieraus ein ausserordentlich positives Panorama für Investitionen im Forstsektor ergibt.

    mixin copyright()
