mixin head(moreScripts)
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="content-language" content="es">
  <meta name=description content="Green Solutions S.A. ofrece desarrollo de proyectos en Paraguay"/>
  <meta name=keywords content="Green Solutions, Proyectos, Construcción, Asesoramiento, Agropequaria, Inmuebles"/>
  <meta name="author" content="SUNCOM Systems (sun.com.py)">
  <meta name="publisher" content="Green Solutions S.A.">
  <meta name="copyright" content="Green Solutions S.A.">
  link(href="/img/favicon.png", rel="shortcut icon")
  link(rel="stylesheet", href="/stylesheets/app.css")
  link(href='http://fonts.googleapis.com/css?family=Noto+Serif', rel='stylesheet', type='text/css')
  script(src="/javascripts/app.js")


mixin header()
  // Header    
  .header
    div(class="navbar navbar-default" role="navigation")
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="/es")
            img(id="logo-header" src="/img/logo.png" alt="Logo")

        .right-float
          div(class="collapse navbar-collapse navbar-responsive-collapse menu-lang")
            ul(class="nav navbar-nav navbar-right")
              li(class="dropdown")
                a(href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false") <i class="icon-globe service-icon"></i> Idiomas 
                  i(class="icon-angle-down")
                ul.dropdown-menu
                  li
                    a(href="/en") English 
                    li
                      a(href="/de") Deutsch
                    li
                      a(href="/es") Español
                    li
                      a(href="/pt") Portugês

          // Collect the nav links, forms, and other content for toggling
          div(class="collapse navbar-collapse navbar-responsive-collapse")
            ul(class="nav navbar-nav navbar-right")
              li
                a(href="/es/") Inicio
              li
                a(href="/es/quienesSomos") Quienes Somos
              li
                a(href="/es/referencias") Referencias
              li(class="dropdown")
                a(href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false") Areas de Trabajo 
                  i(class="icon-angle-down")
                ul.dropdown-menu
                  li
                    a(href="/es/agropecuario") Agropecuario
                  li
                    a(href="/es/forestal") Forestal y Ambiental
                  li 
                    a(href="/es/construccion") Construcción
                  li
                    a(href="/es/energiasRenovables") Energias Renovables


  // End Header    

mixin title(sub)
  title Green Solutions S.A. - 
    =sub

mixin copyright()
  #footer.copyright
    .container
      .row
        .col-md-6
          a(href="http://www.openstreetmap.org/note/150865")
            img(src="/img/croquis.png" alt="Croquis" class="img-thumbnail croquis")
        .col-md-6.right
          h1 Contáctenos, que sus éxitos son nuestros.
          .footer-group
            p Campos Cervera 6421
            p Asunción
            p Paraguay
            p
              i.icon-phone
              | +595 21 603513
            p
              i.icon-envelope
              Email: a(href="mailto:info@htmlstream.com") info@greensolutionssa.com
          br
          //br
          //br
          //br
          //br
      .row
        .col-md-12
          .copyright-space
            &copy; 2014 <span class='green'>Green Solutions S.A.</span> Todos los derechos reservados. 
            span.right Diseño
              a(href="http://sun.com.py/html/es/index.html") SUNCOM Systems 
