include ../../_include/_defaultLayout_es.jade
!!!
html(lang="es")
  head
    mixin head()
    script(src="/plugins/greensolutions.js")
    
    title Green Solutions S.A. - Agropecuario
    
  body
    #wrap
      mixin header()

      .container
        .row
          .col-md-6
            h1.headline Agropecuaria
            h3 NUESTROS SERIVCIOS PROFESIONALES
            h4 Consultoría y Asesoría 
            ul
              li Estudios de factibilidad (Due diligence)
              li Análisis de Inversión
              li Asesoría en Compra - Venta de Bienes inmobiliarios
              li Tasaciones
              li Estudios de Impacto Ambiental
              li Análisis y diagnostico Ambiental, Agropecuario, Industrial.
            h4 Desarollo de Proyectos 
            ul
              li Estudios de impacto ambiental 
              li Estudios de Suelo 
              li Imágenes Satelitales
              li Plan de uso de la tierra
              li Elaboración de Mapas Temáticos
              li Agrimensura y Topografía
            h4 Manejo de Proyectos 
            ul
              li Proyección, implementación y ejecucción de proyectos agropecuarios
              li Administración de propiedades rurales
              li Planes de Recuperación de suelo
              li Agricultura de Precisión
              li Implementación de SIG (Sistemas de Información Geográfica) 
          
          .col-md-6
            .row
              .col-md-12
                .lead-image
                  img(src="/img/agropecuaria/mapa de uso alternativo 2013.jpg" class="img-thumbnail")
            .row2.thumbs
              img(src="/img/agropecuaria/mapa de uso alternativo 2013.jpg" class="img-responsive lead-thumb")
              img(src="/img/agropecuaria/Leucaena.jpg" class="img-responsive lead-thumb")
              img(src="/img/agropecuaria/Curva de nivel.JPG" class="img-responsive lead-thumb")
              img(src="/img/agropecuaria/corral.jpg" class="img-responsive lead-thumb")
              img(src="/img/agropecuaria/arroz.JPG" class="img-responsive lead-thumb")
              img(src="/img/agropecuaria/agua.JPG" class="img-responsive lead-thumb")

        .row
          .col-md-12
            hr
            p Paraguay ofrece clima y suelos perfectos para la producción agropecuaria. Las elevadas inversiones en el sector traen un permanente crecimiento de los índices de producción. Los precios nacionales e internacionales de los productos agropecuarios han aumentado en forma muy acelerada y la creciente demanda mundial asegura una continuación de esta tendencia.
            p Hasta la fecha se usa solamente una fracción de un potencial productivo que solamente se puede llamar asombroso. Los precios de la tierra aumentaron más de 500% en los ultimos 10 años y todavia están muy por debajo del nivel internacional.

  mixin copyright()
