include ../../_include/_defaultLayout_es.jade
!!!
html(lang="es")
  head
    mixin head()
    script(src="/plugins/greensolutions.js")
    
    title Green Solutions S.A. - Agropecuario
    
  body
    #wrap
      mixin top()
      mixin header()

      .container
        .row
          .col-md-6
            h1.headline Agropecuaria            
            p Paraguay ofrece clima y suelos perfectos para la producción agropecuaria. Las elevadas inversiones en el sector traen un permanente crecimiento de los índices de producción. Los precios nacionales e internacionales de los productos agropecuarios han aumentado en forma muy acelerada y la creciente demanda mundial asegura una continuación de esta tendencia.
            p Hasta la fecha se usa solamente una fracción de un potencial productivo que solamente se puede llamar asombroso. Los precios de la tierra aumentaron más de 500% en los ultimos 10 años y todavia están muy por debajo del nivel internacional.
            h3 Cubrimos:
            ul
              li Estudios de factibilidad (Due diligence)
              li Estudios de impacto ambiental
              li Plan de uso de la tierra
              li Proyección, implementación y ejecucción de proyectos agropecuarios
              li Compra y venta de propiedades rurales
              li Administración de propiedades rurales
          .col-md-6
            img(src="/img/agropecuaria/uso alter.jpg" class="img-thumbnail")
        .row
          .col-md-6
            img(src="/img/agropecuaria/Leucaena.jpg" class="img-thumbnail")
            img(src="/img/agropecuaria/Curva de nivel.JPG" class="img-thumbnail")
          .col-md-6
            img(src="/img/agropecuaria/corral.jpg" class="img-thumbnail")
            img(src="/img/agropecuaria/arroz.JPG" class="img-thumbnail")
            img(src="/img/agropecuaria/agua.JPG" class="img-thumbnail")

    mixin copyright()
