include ../../_include/_defaultLayout_es.jade
!!!
html(lang="es")
  head
    mixin head()
    script(src="/plugins/greensolutions.js")
    
    title Green Solutions S.A. - Energias Renovables
    
  body
    #wrap
      mixin header()

      .container
        .row
          .col-md-6
            h1.headline Energías renovables
            h3 NUESTROS SERIVCIOS PROFESIONALES
            h4 Consultoría y Asesoría 
            ul
              li Estudios de factibilidad (Due diligence)
              li Estudios de impacto ambiental
            h4 Desarollo de Proyectos 
            ul
              li Diseño y implementación de generadores fotovoltaicos
              li Elaboración de proyectos hidroeléctricos y de biogas
              li Diseños de sistemas hibridos
              li Elaboracion de proyectos de iluminación de bajo consumo
            h4 Manejo de Proyectos 
            ul
              li Importación y commercialisación de componentes
              li Instalación de sistemas fotovoltaicos e hibribos
              li Manejo de inversiones de proyectos basado en PPAs (power purchase agreements)
              li Manejo de bonos ambientales y emission trading.

          .col-md-6
            .row
              .col-md-12
                .lead-image
                  img(src="/img/energiasRenovables/Biogas.jpg" class="img-thumbnail")
                  span(class="caption")
                    p Biogas
            .row2.thumbs
              img(src="/img/energiasRenovables/Biogas.jpg" class="img-responsive lead-thumb")
              img(src="/img/energiasRenovables/Caña de azucar, Paraguari 2013.jpg" class="img-responsive lead-thumb")
              img(src="/img/energiasRenovables/Esquema de producción de biogas de residuos domesticos.jpg" class="img-responsive lead-thumb")
              img(src="/img/energiasRenovables/Potencial Hidroelectrico de la Zona Oriental.jpg" class="img-responsive lead-thumb")
              img(src="/img/energiasRenovables/Recursos Hidricos Zona Oriental.jpg" class="img-responsive lead-thumb")
              img(src="/img/energiasRenovables/Sistema Solar montado sobre techo.jpg" class="img-responsive lead-thumb")

        .row
          .col-md-12
            hr
            p Con más de un 90% de electricidad proveniente de la energía hidráulica, Paraguay es la definición misma de una nación de energías renovables. 
            p Sin embargo usa todavia solamente una pequeña parte de su potencial energético, sea hidroelectrico, fotovoltaico o de biomasa. La demanda por energía de los paises vecinos crece en forma acelerada beneficiando Paraguay como mayor exportador de energía per capita del mundo. También hay una demanda de energía electrica rápidamente creciente en el mercado interno y que no puede ser satisfecho por la administración nacional por una deficiencia de líneas de transmisión. Con una legislación nueva de una cooperación pública-privada se abren oportunidades de inversiones muy rentables con la finalidad de una decentralización de la producción energética.  


    mixin copyright()
