include ../../_include/_defaultLayout_es.jade
!!!
html(lang="es")
  head
    mixin head()
    script(src="/plugins/greensolutions.js")
    
    title Green Solutions S.A. - Construcción
    
  body
    #wrap
      mixin header()
      
      .container
        .row
          .col-md-6
            h1.headline Construcción
            h3 NUESTROS SERIVCIOS PROFESIONALES
            h4 Consultoría y Asesoría 
            ul
              li Análisis de Inversión
              li Asesoría en Compra - Venta de Bienes inmobiliarios
              li Tasaciones
              li Proyectos ejecutivos para Empresas Constructoras e individuales
              li Gerenciamiento y Fiscalización de obras civiles
            h3 Desarollo de Proyectos
            h4 Arquitectura
            ul
              li Residencial unifamiliar y multifamiliar
              li Comercial y de Servicios	
              li Industrial
            h4 Ingeniería
            ul
              li Estructuras de Hormigón Armado y Metal
              li Instalaciones Hidráulicas
              li Instalaciones Eléctricas
            h3 Obras
            h4 Contratista general de Obras Civiles e Industriales
            ul
              li Residencias familiares
              li Edificios
              li Centros comerciales
              li Estructuras de Hormigón Armado
              li Estructuras Metálicas
              li Instalaciones de servicios
              li Gasolineras
              li Industrias agropecuarias

          .col-md-6
            .row
              .col-md-12
                .lead-image
                  img(src="/img/construccion/Costanera Concepcion.jpg" class="img-thumbnail")
            .row2.thumbs
              img(src="/img/construccion/Costanera Concepcion.jpg" class="img-responsive lead-thumb")
              img(src="/img/construccion/Caja Mutual de Cooperativistas.jpg" class="img-responsive lead-thumb")
              img(src="/img/construccion/Viviendas unifamiliares.jpg" class="img-responsive lead-thumb")
              img(src="/img/construccion/Barrio Cerrado Luque.jpg" class="img-responsive lead-thumb")
              img(src="/img/construccion/Construccion1.jpg" class="img-responsive lead-thumb")
              img(src="/img/construccion/Construccion2.jpg" class="img-responsive lead-thumb")
              img(src="/img/construccion/Construccion3.jpg" class="img-responsive lead-thumb")
        .row
          .col-md-12
            hr
            p El Paraguay experimenta un verdadero auge de la construcción. El alto crecimiento económico y la afluencia de inversiones extranjeras han causado una demanda extraordinaria de propiedades de calidad que no pueden ser satisfechas en un futuro cercano. Los precios inmbobiliarios todavia estan muy bajos en comparación internacional pero experimentan un aumento muy significante.
            p Dentro de este panorama positivo abundan oportunidades de inversión con perspectivas financieras y de impacto ambiental muy prometedoras. 
            p Encontrarán productos y servicios en el área de Ingeniería y Arquitectura con la mayor rentabilidad del mercado para nuestros clientes.

  mixin copyright()
