include ../../_include/_defaultLayout_de.jade
!!!
html(lang="de")
  head
    mixin head()
    title Green Solutions S.A. - Referenzen
    
  body
    #wrap
      mixin header()

      .container
        .row
          .col-md-6
            h1.headline Referenzen
            table.table.table-striped
              thead
                tr
                  th Jahr
                  th Bereich
                  th Projektentwickler
                  th Projekt und Kunde
              tbody
                tr
                  td 2014
                  td Agrar 
                  td Rodolfo von Glasenapp 
                  td Agropecuaria Punta Riel S.A.: Landnutzungsplan, Pdte Hayes
                tr
                  td 2014
                  td Agrar 
                  td Rodolfo von Glasenapp 
                  td Quebrachales S.A.: Landnutzungsplan, Pdte. Hayes
                tr
                  td 2014
                  td Agrar 
                  td Rodolfo von Glasenapp 
                  td Agroganadera Ybypora: Plan de uso de la tierra , Pdte. Hayes
                tr
                  td 2014
                  td Agrar 
                  td Rodolfo von Glasenapp 
                  td Azucacera Paraguaya S.A., Biologische Bekämpfung von Diatrea sacharalis, Paraguari
                tr
                  td 2013
                  td Agrar 
                  td Rodolfo von Glasenapp 
                  td Che Poty S.A., Landnutzungsplan, Boqueron
                tr
                  td 2013
                  td Agrar 
                  td Rodolfo von Glasenapp 
                  td Campos del Paraguay S.A.,  Projektentwicklung zur Reissaat, Itapua
                tr
                  td 2013
                  td Agrar 
                  td Rodolfo von Glasenapp 
                  td Agropecuaria 4 Vientos S.A., Planung und Bau von Stauanlagen zur gedüngtren Bewässerung, Dep. San Pedro
                tr
                  td 2013
                  td Agrar 
                  td Rodolfo von Glasenapp 
                  td Hermano Lui S.A.,  Reproduktion, Zucht und Mast von Fischen in Tanksystemen, Alto Paraná
                tr
                  td 2012
                  td Bau 
                  td Alcides Adorno 
                  td Club Internacional de Tenis, Erweiterung von Sporthalle und Squahplatz, Asunción
                tr
                  td 2012
                  td Bau 
                  td Alcides Adorno 
                  td Vila Romana S.A, Industriepark mit Sanatorium und Apotheke (Gruppe Guide) 
                tr
                  td 2012
                  td Bau 
                  td Alcides Adorno 
                  td Municipalidad de Luque, Rathaus, Luque    
                tr
                  td 2012
                  td Umwelt & Forst
                  td Adolfo Romero 
                  td Aponte Latorre S.A., Umweltverträglichkeitsgutachten für Bau der Polizeikontrollstelle Ruta Nacional Nº 10 
                tr
                  td 2011
                  td Umwelt & Forst
                  td Adolfo Romero 
                  td Consultora Guarani, Erstellung und Präsentation des CAB für die Strassenasphaltierung des Streckenabschnittes Arazapé Yegros    
                tr
                  td 2011
                  td Umwelt & Forst
                  td Adolfo Romero 
                  td Aponte Latorre S.A., Erstellung und Präsentation des CAB für Bau der Puente Sobre el Río Tembey   
                tr
                  td 2011
                  td Bau 
                  td Alcides Adorno 
                  td Club Internacional de Tenis, Parkplatzerweiterung, Luque
                tr
                  td 2011
                  td Bau 
                  td Alcides Adorno 
                  td Municipalidad de Concepción, Costanera Concepción    
                tr
                  td 2011
                  td Bau 
                  td Alcides Adorno 
                  td Municipalidad de Villeta, Costanera Villeta   
                tr
                  td 2011
                  td Umwelt & Forst
                  td Rodolfo von Glasenapp 
                  td Personal, Umweltverträglichkeitsstudie der Glasfaserverbindung Asuncion - Clorinda  
                tr
                  td 2010
                  td Umwelt & Forst
                  td Adolfo Romero 
                  td Consorcio Buena Vista, Umweltverträglichkeitsgutachten zur Asphaltierung im Bereich der kommerziellen Umsiedlungszone, Vertrag "A", Distrito de Encarnación, Departamento de Itapúa
                tr
                  td 2010
                  td Umwelt & Forst
                  td Adolfo Romero 
                  td ING. CARLOS GUEYRAUD Umweltverträglichkeitsgutachten zur Asphaltierung im Bereich der kommerziellen Umsiedlungszone, Vertrag "B", Distrito de Encarnación, Departamento de Itapúa
                tr
                  td 2010
                  td Bau 
                  td Alcides Adorno 
                  td Municipalidad de Villa Elisa: Stadtpark Parque Paseo Villa Elisa    
                tr
                  td 2010
                  td Umwelt & Forst
                  td Rodolfo von Glasenapp 
                  td Agroganadera Sierra Tango: Monitoring der Bodendegradation und Rekuperation, Curuguaty
                tr
                  td 2010
                  td Agrar 
                  td Rodolfo von Glasenapp 
                  td Grupo FD: Intensivrindermast, Estancia Itabo, Alto Paraná
                tr
                  td 2009
                  td Agrar 
                  td Rodolfo von Glasenapp 
                  td Ganadera El Fogón S.A. Bodenmanagement    
                tr
                  td 2009
                  td Agrar 
                  td Rodolfo von Glasenapp 
                  td Zusa S.A., Landnutzungsplan, Boqueron
                tr
                  td 2009
                  td Agrar 
                  td Rodolfo von Glasenapp 
                  td Posta S.A., Landnutzungsplan, Pdte. Hayes
                tr
                  td 2009
                  td Umwelt & Forst
                  td Rodolfo von Glasenapp 
                  td CAISA S.A, Wideraufforstung und Anreicherung nativer Wälder, Alto Paraná
                tr
                  td 2009
                  td Umwelt & Forst
                  td Adolfo Romero, 
                  td Concorcio Buena Vista, Gutachten zum Bau von Infraestruktur und Gerätschaften im Bereich der kommerziellen Umsiedlungszone, Vertrag "B", Distrito de Encarnación, Departamento de Itapúa 
                tr
                  td 2008
                  td Bau 
                  td Alcides Adorno 
                  td Caja Mutual de Cooperativistas del Paraguay, Zentralgebäude, Asuncion 
                tr
                  td 2008
                  td Bau 
                  td CAFEL S.A. 
                  td Entidad Binacional Yacyreta Sanierung und Bau von Aulas und Bädern Escuela Basica Nº135  
                tr
                  td 2008
                  td Bau 
                  td CAFEL S.A. 
                  td Federación Paraguaya de Ciclismo Radrennbahn, Parque Olimpico, Luque    
                tr
                  td 2008
                  td Bau 
                  td CAFEL S.A. 
                  td Entidad Binacional Yacyreta Dacherneuerung der Fundación Apadem Teleton    
                tr
                  td 2008
                  td Bau 
                  td CAFEL S.A. 
                  td Entidad Binacional Yacyreta Sanierung und Renovierung der Büros der Personalabteilung  
                tr
                  td 2008
                  td Umwelt & Forst
                  td Rodolfo von Glasenapp 
                  td El Farol S.A.Management soliden ungefährlichen Stadt und Industriemülls 
                tr
                  td 2008
                  td Agrar 
                  td Rodolfo von Glasenapp 
                  td Campo de Mañana S.A. Design und Installation des zentralen Beregnungssystems  
                tr
                  td 2008
                  td Agrar 
                  td Rodolfo von Glasenapp 
                  td Cimexpar S.A.,  Bodenstudie zur Machbarkeit des Reisanbau, Caapucu
                tr
                  td 2008
                  td Umwelt & Forst
                  td Adolfo Romero, Consorcio EDB 
                  td Constructora Asunción für Entidad Binacional Yacyretá, Umweltverträglichkeitsstudie zur Umsiedlung des Flughafens Encarnación
                tr
                  td 2005/2014
                  td Agrar 
                  td Rodolfo von Glasenapp 
                  td Grupo FD, Anbau und Industrialisierung von Yerba Mate; Canindeyu

          //.row.text-center
          .col-md-6
            .lead-image
              img(src="/img/referencias/2005 Reforestación Tres Ollas.jpg" class="img-thumbnail")
              span(class="caption")
                p 2005 Reforestación Tres Ollas
            .row.thumbs
              img(src="/img/referencias/2005 Reforestación Tres Ollas.jpg" class="img-responsive lead-thumb")
              img(src="/img/referencias/2012 Club Internacional de Tenis.jpg" class="img-responsive lead-thumb")
              img(src="/img/referencias/2013 Che Poty.jpg" class="img-responsive lead-thumb")
              img(src="/img/referencias/2013 Desmamantes Hibridos Riacho-i SA.jpg" class="img-responsive lead-thumb")
              img(src="/img/referencias/2013 mapa de uso alternativo 2013.jpg" class="img-responsive lead-thumb")
              img(src="/img/referencias/2013 Producción de arroz, El Fogón.jpg" class="img-responsive lead-thumb")
              img(src="/img/referencias/2014 Plan de uso de la tierra, Zusa.jpg" class="img-responsive lead-thumb")

    mixin copyright()
