include ./_include/_defaultLayout_es.jade
!!!
html(lang="en")
  head
    mixin head()
    +title("Links")
  body
    #wrap
      mixin header()
      // Content Part
      .container
        // Service Blocks 
        .row
          .col-md-12
            h1.headline Green Solutions - Links
        .row.headline
          .col-md-6
            h2 Links:
            p Paraguay: Secreto mejor guardado de Latinoamerica
            <iframe width="420" height="315" src="//www.youtube.com/embed/3GPmisu3aEg" frameborder="0" allowfullscreen></iframe>

            p <a href='http://www.mic.gov.py/mic/site/mic/informes_presentacion.html'>Informes sobre Paraguay del Ministerio de Industria y Comercio</a>
            p <a href='http://www.rediex.gov.py/porque-invertir-en-paraguay-i2'>Red de Inversiones y Exportaciones (Rediex): Porque invertir en Paraguay?</a>

            p The Banker: Invest in Paraguay 01
            <iframe width="560" height="315" src="//www.youtube.com/embed/h4hZpAcraVE" frameborder="0" allowfullscreen></iframe>

            p <a href='https://www.youtube.com/channel/UC_afNAk_D7i3YEO9i3yZY0Q'>Paraguay Magazine TV</a>
            p <a href='https://www.youtube.com/channel/UC4G61U7N35bX2S4v2u3VJvA'>TV Agropecuaria Paraguay</a>

            p Instituto Forestal Nacional: Oportunidades de Negocios Forestales en Paraguay
            <iframe width="560" height="315" src="//www.youtube.com/embed/6sV6HbxvFvA" frameborder="0" allowfullscreen></iframe>
            
            p Alcides Adorno: Costanera Villeta 2012
            <iframe width="560" height="315" src="//www.youtube.com/embed/IdmZ-jIxMEk" frameborder="0" allowfullscreen></iframe>
            p Alcides Adorno: Costanera Concepción
            <iframe width="420" height="315" src="//www.youtube.com/embed/B68aZQnwKtU" frameborder="0" allowfullscreen></iframe>
            p Gabinete Social Paraguay: Paraguay, oportunidad para invertir
            <iframe width="420" height="315" src="//www.youtube.com/embed/80Tf5Mtp5IU" frameborder="0" allowfullscreen></iframe>
            p
            <iframe width="560" height="315" src="//www.youtube.com/embed/qJ06wUtSlA8" frameborder="0" allowfullscreen></iframe>

          .col-md-6
            h2 Documentos
            p <a href='/docs/Porque invertir en Paraguay_.docx'>Porque invertir en Paraguay? (Español)</a>
            p <a href='/docs/Why invest in Paraguay_.docx'>Why invest in Paraguay? (Inglés)</a>
            p <a href=''>Folleto Corporativo: Green solutions - Desarollo de proyectos sustentables en Construcción, Forestal, Pecuaria, Agricultura, Energías Renovables</a>
            p <a href='/docs/Green Solutions.pptx'>Presentación Corporativa (ppt): Green solutions - Desarollo de proyectos sustentables en Construcción, Forestal, Pecuaria, Agricultura, Energías Renovables</a>

    mixin copyright()
