html,
body {
  height: 100%;
//  font-family: 'Noto Serif', serif;
  font-size: 16px;
  color: #6F6F6F;
}

p, a, li {
  color: #303030;
  line-height: 1.6;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -250px;
  /* Pad bottom by footer height */
  padding: 0 0 250px;
}
/* Set the fixed height of the footer here */
#footer {
  min-height: 250px;
  color: #DADADA;
  font-size: 16px;
}

#footer h1 {
  font-size: 24px;
}

.footer-group p {
  line-height: 1.0;
}

.right {
  text-align: right;  
  float: right;
}

.right-float {
  float: right;
}

.croquis {
  float: left;
}

.copyright-space {
  font-size: 13px;
}

a {
  color: #72c02c;
}

a:focus, a:hover, a:active {
  color: #72C02C;
  text-decoration: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
  background-color: #72c02c;
  border: none;
}


.green { color: #72c02c; }

/*Open menu automatically*/
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

.container {
  max-width: 100%;
  margin-bottom: 10px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#logo-header {
  margin-top: 5px;
  max-height: 80px;
}

h1, h2, h3, .breadcrumbs h1 {
  color: #066739;
}

h1 {
  color: #72C02C;
  font-size: 28px;
}

.comeBack {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.personal img {
  height: 200px;
}

.service-blocks .img-thumbnail {
  height: 180px;
  margin-bottom: 20px;
}

.service {
  margin-bottom: -20px;
  overflow: hidden;
  padding: 15px 15px 0px 5px;
  min-height: 100px;
}

.service .service-icon {
  padding: 0px;
}

.service .desc h4 {
  font-size: 18px;
  /*line-height: 25px;*/
}

.header {
  //border: none;
  margin-bottom: 15px;
}

.personal .alcides {
  background-size: 100% auto;
  border-radius: 250px;
  height: 180px;
  position: absolute;
  width: 180px;
}

.personal .alcides {
  background-image: url("/img/quienesSomos/alcides adorno.jpg");
}

.thumbs {
  width: 100%;
  margin: auto;
}

.lead-thumb {
  float: left;
  /*max-height: 70px;*/
  max-width: 16%;
  padding: 2px;
}

.header .navbar-default .menu-lang .navbar-nav > li > a {
  font-size: 75%;
}

blockquote {
  border-left: 5px solid #72C02C;
  margin: 0 0 20px;
  padding: 10px 20px;
}