include ../../_include/_defaultLayout_de.jade
!!!
html(lang="de")
  head
    mixin head()
    title Green Solutions S.A. - Landwirtschaft
    
  body
    #wrap
      mixin header()

      .container
        .row
          .col-md-6
            h1.headline Landwirtschaft
            h3 Unsere Dienstleistungen
            h4 Beratung 
            ul
              li Machbarkeitsstudien & Due diligence
              li Investitionsanalyse
              li Beratung in Ankauf und Verkauf von Immobilien
              li Bewertung ruraler Grundstücke
              li Umweltverträglichkeitsstudien
            h4 Projektentwicklung 
            ul
              li Bodenuntersuchungen 
              li Satellitenbildinterpretation 
              li Landnutzungspläne
              li Erstellung thematischer Karten
              li Agrimensur y Topographie
            h4 Manejo de Proyectos 
            ul
              li Projektion, Implementatión und Management landwirtschaftlicher Projekte
              li Verwaltung landwirtschaftlicher Betriebe
              li Planung zur Bodenmelioration
              li Precision farming
              li Implementation geographischer Informationssysteme  
          
          .col-md-6
            .row
              .col-md-12
                .lead-image
                  img(src="/img/agropecuaria/Base genetica para cruzamiento Brahman x Gelbvieh, Chaco 2009.jpg" class="img-thumbnail")
                  span(class="caption")
                    p Base genetica para cruzamiento Brahman x Gelbvieh, Chaco 2009
            .row2.thumbs
              img(src="/img/agropecuaria/Base genetica para cruzamiento Brahman x Gelbvieh, Chaco 2009.jpg" class="img-responsive lead-thumb")
              img(src="/img/agropecuaria/Manejo de agua en arroz 2013.jpg" class="img-responsive lead-thumb")
              img(src="/img/agropecuaria/Plan de uso de la tierra 2013.jpg" class="img-responsive lead-thumb" alt="plan de uso de la tierra")
              img(src="/img/agropecuaria/Plantacion silvopastoril de Leucaena Chaco 2013.jpg" class="img-responsive lead-thumb" alt="Plantacion silvopastoril de Leucaena Chaco 2013")
              img(src="/img/agropecuaria/Plantación de arroz Itapua 2013.jpg" class="img-responsive lead-thumb")
              img(src="/img/agropecuaria/Trabajos de Topgrafia 2014.jpg" class="img-responsive lead-thumb" alt="Trabajos de Topgrafia 2014")
              img(src="/img/agropecuaria/Producción ganadera sustentable Presidente Hayes 2008.jpg" class="img-responsive lead-thumb" alt="Plantacion silvopastoril de Leucaena Chaco 2013")
              img(src="/img/agropecuaria/Trabajando según curva de nivel Itapua 2013.jpg" class="img-responsive lead-thumb" alt="Plantacion silvopastoril de Leucaena Chaco 2013")
              

        .row
          .col-md-12
            hr
            p Paraguay bietet perfekte Böden und Klimata für die landwirtschaftliche Produktion. Die hohen Investitionen im Agrarsektor erbringen stetig wachsende Produktionsindizes. Die nationalen und internationalen Preise der Agrarprodukte steigen während die wachsende globale Nachfrage diesen Trend auch auf längere Sicht sicherstellt.
            p Bis heute wird in Paraguay nur ein Bruchteil eines atemberaubenden produktiven Potentials genutzt. Die Bodenpreise landwirtschaftlicher Flächen sind in den letzten 10 Jahren um über 500% gestiegen, liegen aber nach wie vor weit unter internationalen Niveau.

    mixin copyright()
