include ../../_include/_defaultLayout_en.jade
!!!
html(lang="en")
  head
    mixin head()
    script(src="/plugins/greensolutions.js")
    
    title Green Solutions S.A. - Construction
    
  body
    #wrap
      mixin top()
      mixin header()
      // Content Part
      .container
        // Service Blocks 
        div(class="row margin-bottom-10")
          h1.comeBack Come back soon!

      

    mixin copyright()
