include ../_include/_defaultLayout_en.jade
!!!
html(lang="en")
  head
    mixin head()
    title Green Solutions S.A. - Start
  body
    #wrap
      mixin header()
      // Content Part
      .container
        // Service Blocks 
        div(class="row margin-bottom-10 service-blocks")
          .col-md-3.service-alternative
            a(href="/en/agriculture")
              .service
                i(class="icon-globe service-icon")
                .desc
                  h4 Agriculture
              img(src="/img/nuestroObjetivo/corral copy.jpg" class="img-thumbnail" alt="Agropecuario")
          .col-md-3.service-alternative
            a(href="/en/forestry")
              .service
                i(class="glyphicon glyphicon-tree-deciduous service-icon")
                .desc
                  h4 Environment and Forestry
              img(src="/img/nuestroObjetivo/Estudio de calidad de agua.jpg" class="img-thumbnail" alt="Ambiental & Forestal")
          .col-md-3.service-alternative
            a(href="/en/construction")
              .service
                i(class="icon-building service-icon")
                .desc
                  h4 Construction
              img(src="/img/nuestroObjetivo/Barrio Cerrado Luque copy.jpg" class="img-thumbnail" alt="Construcción")
          .col-md-3.service-alternative
            a(href="/en/renewableEnergies")
              .service
                i(class="glyphicon glyphicon-refresh service-icon")
                .desc
                  h4 Renewable Energies
              img(src="/img/nuestroObjetivo/caña copy.jpg" class="img-thumbnail" alt="Energías Renovables")
        // End Service Blocks
        h1.headline Our Goal
        blockquote
          p
            h4 Profitability and sustainability are complementary and not contradictory
        p Following this motto, we aim to direct capital for sustainable and highly profitable investments, with transparency and legal certainty, ensuring lasting and safe long-term returns.
        p We provide a multi-lingual consultancy service for the development, analysis and implementation of projects. We assist personally and professionally domestic and foreign investors for corporate foundation in Paraguay.
        p Our main resource is our team, which consists of highly qualified professionals in different areas of sustainable development for an optimized use of our natural resources.
        .clearfix
      // End Content Part

    mixin copyright()
    //mixin copyright()
                  