include ../../_include/_defaultLayout_de.jade
!!!
html(lang="de")
  head
    mixin head()
    title Green Solutions S.A. - Erneuerbare Energien
    
  body
    #wrap
      mixin header()

      .container
        .row
          .col-md-6
            h1.headline Erneuerbare Energien
            h3 Unsere Dienstleistungen
            h4 Beratung 
            ul
              li Machbarkeitsstudien & Due diligence
              li Umweltverträglichkeitsstudien
            h4 Projektentwicklung 
            ul
              li Design und Installation von Photovoltaikanlagen
              li Entwicklung von Projekten in Wasserkraft und Biogas
              li Design von Hybridsystemen
              li Projektentwicklung gering verbrauchender Beleuchtungssysteme
            h4 Projektmanagement 
            ul
              li Import und Vermarktung von Komponenten
              li Installation von Photovoltaik- und Hybridsystemen
              li Projektmanagement PPA basierter Investitonen 
              li Management von Umweltbonds und Emission Trading

          .col-md-6
            .row
              .col-md-12
                .lead-image
                  img(src="/img/energiasRenovables/Biogas.jpg" class="img-thumbnail")
                  span(class="caption")
                    p Biogas
            .row2.thumbs
              img(src="/img/energiasRenovables/Biogas.jpg" class="img-responsive lead-thumb")
              img(src="/img/energiasRenovables/Caña de azucar, Paraguari 2013.jpg" class="img-responsive lead-thumb")
              img(src="/img/energiasRenovables/Esquema de producción de biogas de residuos domesticos.jpg" class="img-responsive lead-thumb")
              img(src="/img/energiasRenovables/Potencial Hidroelectrico de la Zona Oriental.jpg" class="img-responsive lead-thumb")
              img(src="/img/energiasRenovables/Recursos Hidricos Zona Oriental.jpg" class="img-responsive lead-thumb")
              img(src="/img/energiasRenovables/Sistema Solar montado sobre techo.jpg" class="img-responsive lead-thumb")

        .row
          .col-md-12
            hr
            p Mit mehr als 90% der paraguayischen Energie beruht auf Wasserkraft, daher ist Paraguay das Paradebeispiel einer Nation, die auf erneuerbaren Energien setzt.
            p Trotzdem wird bisher nur ein kleiner Teil des energetischen Potentials Paraguays genutzt- sei es Wasserkraft, Solarenergie oder Biomasse.
            p Die Energienachfrage der Nachbarländer wächst exponentiell, was Paraguay als weltweit grössen Pro-Kopf Energieexporteur begünstigt. Zugleich gibt es eine schnell wachsende Binnenachfrage an Strom, die von der nationalen Stromverwaltung aufgrund defizitärer Stromleitungen nicht befriedigt werden kann. Mit einer neuen Gesetzgebung zur öffentlich-privaten Zusammenarbeit eröffnen sich nun Chancen für hochrentable private Investitionen in Bereich einer Dezentralisierung der Energieerzeugung.  


    mixin copyright()
