include ../../_include/_defaultLayout_es.jade
!!!
html(lang="es")
  head
    mixin head()
    script(src="/plugins/greensolutions.js")
    
    title Green Solutions S.A. - Recursos Naturales
    
  body
    #wrap
      mixin header()

      .container
        .row
          .col-md-6
            h1.headline Ambiental y Forestal
            h3 NUESTROS SERIVCIOS PROFESIONALES
            h4 Consultoría y Asesoría 
            ul
              li Estudios de factibilidad (Due diligence)
              li Análisis de Inversión
              li Asesoría en Compra - Venta de Bienes inmobiliarios
              li Tasaciones
              li Análisis y diagnostico Ambiental
            h4 Desarollo de Proyectos 
            ul
              li Estudios de impacto ambiental
              li Plan de uso de la tierra
              li Auditoría Ambiental 
              li Certificados de No Peligrosidad Ambiental.
              li Restauración Ambiental  y Ecosistemas (Proyectos y Desarrollo)
              li Estudios de Calidad de Agua.
              li Elaboración de Mapas Temático
              li Sistemas de Gestión de Residuos
              li Desarollo de proyectos de Reciclaje
            h4 Manejo de Proyectos
            ul
              li Servicios Ambientales
              li Planificación, ejecución y administración de proyectos forestales 
              li Administracion de propiedades rurales
              li Manejo de bonos ambientals

          .col-md-6
            .row
              .col-md-12
                .lead-image
                  img(src="/img/forestalAmiental/bosque.jpg" class="img-thumbnail")
            .row2.thumbs
              img(src="/img/forestalAmiental/bosque.jpg" class="img-responsive lead-thumb")
              img(src="/img/forestalAmiental/eucalyptus.jpg" class="img-responsive lead-thumb")
              img(src="/img/forestalAmiental/nativo.JPG" class="img-responsive lead-thumb")
              img(src="/img/forestalAmiental/Leucaena.JPG" class="img-responsive lead-thumb")
              img(src="/img/forestalAmiental/vivero.jpg" class="img-responsive lead-thumb")
              img(src="/img/forestalAmiental/Ambiental & Forestal.JPG" class="img-responsive lead-thumb")

        .row
          .col-md-12
            hr
            p Todo tipo de proyecto industrial, agropecuario y comercial tiene algún impacto ambiental. La disminución de este impacto no es solamente un requerimento legal, pero también afecta el imagen y la sostentibilidad del proyecto y con esto el exito economico.
            p Los bosques son de enorme importancia para el equilibrio ambiental. Las condiciones ecológicas para la producción forestal en el Paraguay están entre las mejores del mundo. Sin embargo la alta tasa de deforestación ha causado una pérdida casi completa de los bosques naturales con aptitud comercial. La producción forestal nacional es muy limitada en relación al crecimiento de la demanda, abriendo un panorama extremadamente positivo para inversiones en el sector.

    mixin copyright()
