include ../../_include/_defaultLayout_en.jade
!!!
html(lang="en")
  head
    mixin head()
    title Green Solutions S.A. - References
    
  body
    #wrap
      mixin header()

      .container
        .row
          .col-md-6
            h1.headline References
            table.table.table-striped
              thead
                tr
                  th Year
                  th Project Area
                  th Designer
                  th Project and Client
              tbody
                tr
                  td 2014
                  td Agricultural 
                  td Rodolfo von Glasenapp 
                  td Agropecuaria Punta Riel S.A.: Soil use planning, President Hayes
                tr
                  td 2014
                  td Agricultural 
                  td Rodolfo von Glasenapp 
                  td Quebrachales S.A.: Soil use planning, President Hayes
                tr
                  td 2014
                  td Agricultural 
                  td Rodolfo von Glasenapp 
                  td Agroganadera Ybypora: Soil use plan, President Hayes
                tr
                  td 2014
                  td Agricultural 
                  td Rodolfo von Glasenapp 
                  td Azucacera Paraguaya S.A., Biological control of Diatrea sacharalis, Paraguari
                tr
                  td 2013
                  td Agricultural 
                  td Rodolfo von Glasenapp 
                  td Che Poty S.A., Soil use planning, Boqueron
                tr
                  td 2013
                  td Agricultural 
                  td Rodolfo von Glasenapp 
                  td Campos del Paraguay S.A., Design and development for the planting of rice, Itapua
                tr
                  td 2013
                  td Agricultural 
                  td Rodolfo von Glasenapp 
                  td Agropecuaria 4 Vientos S.A., Design and construction of dam for fertigation, Dep. of San Pedro
                tr
                  td 2013
                  td Agricultural 
                  td Rodolfo von Glasenapp 
                  td Hermano Lui S.A., Reproduction, breeding and fattening of fish in ponds, Alto Paraná
                tr
                  td 2012
                  td Construction 
                  td Alcides Adorno 
                  td Club Internacional de Tenis,
                    Natatorium, Gymnasium and Squash courts extension, Asunción
                tr
                  td 2012
                  td Construction 
                  td Alcides Adorno 
                  td Vila Romana S.A, Industrial Park 
                tr
                  td 2012
                  td Construction 
                  td Alcides Adorno 
                  td Private sanatorium & pharmacy for Grupo Guide. Dr. Guillermo Crebejo Teran
                tr
                  td 2012
                  td Construction 
                  td Alcides Adorno 
                  td Municipal Headquarters, Luque  
                tr
                  td 2012
                  td Forestry and Environmental
                  td Adolfo Romero 
                  td Aponte Latorre S.A., Construction of toll stations, police substations and weighing of the national route number 10  
                tr
                  td 2011
                  td Forestry and Environmental
                  td Adolfo Romero 
                  td Consultora Guarani, Preparation and presentation of the CAB for stoned type paving in the stretch: Arazapé-Yegros  
                tr
                  td 2011
                  td Forestry and Environmental
                  td Adolfo Romero 
                  td Aponte Latorre S.A., Preparation and presentation of the CAB for the bridge over the river Tambey  
                tr
                  td 2011
                  td Construction 
                  td Alcides Adorno 
                  td Club Internacional de Tenis, Parking extension, Luque
                tr
                  td 2011
                  td Construction 
                  td Alcides Adorno 
                  td Municipalidad de Concepción, Concepción waterfront  
                tr
                  td 2011
                  td Construction 
                  td Alcides Adorno 
                  td Municipalidad de Villeta, Villeta waterfront  
                tr
                  td 2011
                  td Forestry and Environmental
                  td Rodolfo von Glasenapp 
                  td Personal, Environmental impact draft of fiberoptic connections between Asuncion and Clorinda 
                tr
                  td 2010
                  td Forestry and Environmental
                  td Adolfo Romero 
                  td Consorcio Buena Vista, Asphalt pavement construction in commercial relocation area Contract "A", District of Encarnación, Department of Itapúa
                tr
                  td 2010
                  td Forestry and Environmental
                  td Adolfo Romero 
                  td ING. CARLOS GUEYRAUD, Asphalt pavement construction in commercial relocation area Contract "B", District of Encarnación, Department of Itapúa
                tr
                  td 2010
                  td Construction 
                  td Alcides Adorno 
                  td Municipalidad de Villa Elisa: Paseo Villa Elisa park  
                tr
                  td 2010
                  td Forestry and Environmental
                  td Rodolfo von Glasenapp 
                  td Agroganadera Sierra Tango: Monitoring program of soil degradation and recovery.
                tr
                  td 2010
                  td Agricultural 
                  td Rodolfo von Glasenapp 
                  td Grupo FD: Confinement of livestock, Estancia Itabo, Alto Paraná
                tr
                  td 2009
                  td Agricultural 
                  td Rodolfo von Glasenapp 
                  td Ganadera El Fogón S.A. Soil management  
                tr
                  td 2009
                  td Agricultural 
                  td Rodolfo von Glasenapp 
                  td Zusa S.A., Soil use planning, Boqueron
                tr
                  td 2009
                  td Agricultural 
                  td Rodolfo von Glasenapp 
                  td Posta S.A., Soil use planning, President Hayes
                tr
                  td 2009
                  td Agricultural
                  td Rodolfo von Glasenapp 
                  td Ganadera El Fogón S.A. Soil management
                tr
                  td 2009
                  td Agricultural
                  td Rodolfo von Glasenapp 
                  td Zusa S.A., Soil use planning, Boqueron
                tr
                  td 2009
                  td Agricultural
                  td Rodolfo von Glasenapp 
                  td Posta S.A., Soil use planning, President Hayes
                tr
                  td 2009
                  td Forestry and Environmental
                  td Rodolfo von Glasenapp 
                  td CAISA S.A, Reforestation and enrichment of native forest, Alto Paraná
                tr
                  td 2009
                  td Forestry and Environmental
                  td Adolfo Romero, 
                  td Concorcio Buena Vista, Construction of missing infrastructure and equipment in the commercial relocation of Encarnación 
                tr
                  td 2008
                  td Construction 
                  td Alcides Adorno 
                  td Caja Mutual de Cooperativistas del Paraguay, Headquarters offices, Asuncion
                tr
                  td 2008
                  td Construction 
                  td CAFEL S.A. 
                  td Entidad Binacional Yacyreta, Repair and construction of classrooms and bathrooms at the Basic School Number 135 
                tr
                  td 2008
                  td Construction 
                  td CAFEL S.A. 
                  td Federación Paraguaya de Ciclismo, Cycling tracks, Olimpic park, Luque  
                tr
                  td 2008
                  td Construction 
                  td CAFEL S.A. 
                  td Entidad Binacional Yacyreta Roof repairs for the Apadem Teleton non profit foundation  
                tr
                  td 2008
                  td Construction 
                  td CAFEL S.A. 
                  td Entidad Binacional Yacyreta, Repairs and general maintenance of offices in the Human Resourse area  
                tr
                  td 2008
                  td Forestry and Environmental
                  td Rodolfo von Glasenapp 
                  td El Farol S.A. Management of non-hazardous municipal and industrial solid waste  
                tr
                  td 2008
                  td Agricultural 
                  td Rodolfo von Glasenapp 
                  td Campo de Mañana S.A. Design and installation of central irrigation  
                tr
                  td 2008
                  td Agricultural 
                  td Rodolfo von Glasenapp 
                  td Cimexpar S.A., Soil study for exploitation of rice, Caapucu
                tr
                  td 2008
                  td Forestry and Environmental
                  td Adolfo Romero, Consorcio EDB 
                  td Constructora Asunción, Relocation of the Encarnación Airport, Yacyretá Bi-national
                tr
                  td 2007
                  td Forestry and Environmental
                  td Rodolfo von Glasenapp 
                  td ACEPAR, Environmental impact assessment and recovery of pig iron  
                tr
                  td 2005/2014
                  td Agricultural 
                  td Rodolfo von Glasenapp 
                  td Grupo FD, Management and industrialisation of Yerba Mate, Canindeyu

          //.row.text-center
          .col-md-6
            .lead-image
              img(src="/img/referencias/2005 Reforestación Tres Ollas.jpg" class="img-thumbnail")
              span(class="caption")
                p 2005 Reforestación Tres Ollas
            .row.thumbs
              img(src="/img/referencias/2005 Reforestación Tres Ollas.jpg" class="img-responsive lead-thumb")
              img(src="/img/referencias/2012 Club Internacional de Tenis.jpg" class="img-responsive lead-thumb")
              img(src="/img/referencias/2013 Che Poty.jpg" class="img-responsive lead-thumb")
              img(src="/img/referencias/2013 Desmamantes Hibridos Riacho-i SA.jpg" class="img-responsive lead-thumb")
              img(src="/img/referencias/2013 mapa de uso alternativo 2013.jpg" class="img-responsive lead-thumb")
              img(src="/img/referencias/2013 Producción de arroz, El Fogón.jpg" class="img-responsive lead-thumb")
              img(src="/img/referencias/2014 Plan de uso de la tierra, Zusa.jpg" class="img-responsive lead-thumb")

    mixin copyright()
