include ../../_include/_defaultLayout_es.jade
!!!
html(lang="es")
  head
    mixin head()
    +title("Quienes Somos")
    
  body
    #wrap
      mixin header()
      // Content Part
      .container
        // Service Blocks 
        .row
          .col-md-12
            h1.headline Green Solutions - Quienes Somos
        .row.headline
          .col-md-6
            h2 Historia
            p Greensolutions fue fundado como CAFEL S.A. en el año 2007, como empresa consultora en construcciones. Luego nos expandimos el área de trabajo al aprovechamiento sustentable de recursos naturales. Para subrayar este nuevo rumbo adaptamos el nombre Greensolutions S.A.
          .col-md-6
            h2 Misión:
            p Promover inversiones en sustentabilidad para retornos seguros y duraderos.
        .row.headline.personal
          .col-md-3
            h2 Presidente:
            p <strong>Lic. Rosemarie Jann</strong>
            button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#rosemarie")
              | Biografía
          .col-md-9
            img(src="/img/quienesSomos/rosemariejann.jpg" alt="Rosemarie Jann" class="img-thumbnail")

        .row.headline.personal
          .col-md-3
            h3 Grupo Construcciones:
            p Arq. Alcides Adorno
            button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#alcides")
              | Biografía
          .col-md-3
            img(src="/img/quienesSomos/alcides.jpg" alt="Alcides Adorno" class="img-thumbnail")
          .col-md-3
            h3 Grupo Forestal:
            p Ing. Juan Adolfo Romero
            button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#adolfo")
              | Biografía
          .col-md-3
            img(src="/img/quienesSomos/adolfo.jpg" alt="Adolfo Romero" class="img-thumbnail")
        .row.headline.personal
          .col-md-3
            h3 Grupo Agropecuario:
            p Ing. Rodolfo von Glasenapp
            button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#rodolfo")
              | Biografía
          .col-md-3
            img(src="/img/quienesSomos/rodolfo.jpg" alt="Rodolfo von Glasenapp" class="img-thumbnail")
          .col-md-3
            h3 Grupo Energía:
            p Lic. Rosemarie Jann
            button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#rosemarie")
              | Biografía
          .col-md-3
            img(src="/img/quienesSomos/rosemariejann.jpg" alt="Rosemarie Jann" class="img-thumbnail")


        //Modal Alcides Adorno
        div(class="modal fade" id="alcides" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                h4(class="modal-title" id="myModalLabel") Eladio Alcides Adorno Peña
              .modal-body
                p Culmina la Carrera de Arquitectura en la Universidad Nacional de Asunción, posteriormente cursa Postgrados en Administración de Finanzas y Didactica Universitaria. Se desempeña además, en el ámbito de la Docencia, siendo Profesor de la Catedra Construcciones 6 de la Facultad de Arquitectura de la Universidad Nacional de Asunción, y Profesor de la Catedra de Proyecto – Taller 8 en la Universidad Americana.
                p Participo y fue premiado en numerosos Concursos  de Arquitectura y Urbanismo, entre los que se incluyen: Petrobras, Club Internacional de Tenis, Municipalidad de Villa Elisa, Santa Elena Country Club y Caja Mutual de Cooperativistas.
                p Es autor de Obras como Parque Industrial Panamericano, Petrobras, Salon Vip Citibank que en la actualidad se encuentran en proceso de Construcción, también forman parte de sus Obras, las intervenciones urbanísticas, Plan de mejoramiento y Costaneras en ciudades como Concepción, Villa Elisa y Villeta, 
                p En la actualidad lidera el Estudio de Arquitectura con Proyectos y Construcciones en varias Ciudades del País 
              .modal-footer
                button(type="button" class="btn btn-default" data-dismiss="modal") Close

        //Modal Juan Adolfo Romero
        div(class="modal fade" id="adolfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                h4(class="modal-title" id="myModalLabel") JUAN ADOLFO ROMERO RIVEROS
              .modal-body
                p Juan Adolfo posee más de 10 años de experiencia en consultoría ambiental, desarrollo de proyectos ambientales y gerencia en sectores relacionados a las ciencias forestales, industria, ingeniería civil y energía renovable.
                p Él cuenta un título de Ingeniero en Ciencias Forestales de la Universidad Nacional de Asunción y licencias como Consultor Forestal (Infona) y Consultor Ambiental (SEAM). Juan Adolfo obtuvo dos Masterados en Auditoria Ambiental y planificación de Ambientes Urbanos de la Universidad Nacional Autónoma de México.
                p En el pasado se desempeño como consultor superior en Aponte Latorre y especialista ambiental en Consultora Guaraní. También fue responsable en la elaboración de estudios de impacto ambiental para importantes clients como Itaipu Binacional y Yacyreta.
                p Actualmente Juan Adolfo es Presidente de la Asociación Paraguaya de Ingenieros Forestales y jefe del grupo de consultoría ambiental Greensolutions. El se encarga de diseñar las políticas ambientales para los proyectos y sirve de enlace con las instituciones nacionales y oficinas de licencias. 
              .modal-footer
                button(type="button" class="btn btn-default" data-dismiss="modal") Close

        //Modal Rodolfo von Glasenapp
        div(class="modal fade" id="rodolfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                h4(class="modal-title" id="myModalLabel") Rodolfo von Glasenapp
              .modal-body
                p Rodolfo posee mas de 20 años de experiencia en manejo de estancias, desarrollo de negocios agrícolas y planificación del uso de la tierra.
                p El cuenta con un título de Ingeniero en Ciencias Agrícolas de la Universidad Nacional de Asunción y licencias de Consultor Agrícola (Senave) y Consultor Ambiental (SEAM) y Infona. Rodolfo obtuvo dos Masterados, en Nutrición Animal (Piracicaba, Brasil) y Ciencias Ambientales y planificación del uso de la tierra de la Universidad Nacional de Asunción.
                p El lideró numerosos proyectos de transformación de uso de tierra y negocios agrícolas, y trabajó como consejero para varias empresas Alemanas y Paraguayas como también instituciones y empresas multinacionales.
                p Actualmente Rodolfo se desempeña como Consultor principal del grupo FD y consultor en jefe de Greensolutions. 
              .modal-footer
                button(type="button" class="btn btn-default" data-dismiss="modal") Close

        //Modal Rosemarie Jann
        div(class="modal fade" id="rosemarie" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                h4(class="modal-title" id="myModalLabel") Lic. Rosemarie JANN
              .modal-body
                p Rosemarie tiene más de 15 años de experiencia en relaciones públicas y manejo financier en ambientes internacionales con un excelente historial en desarrollo de negocios y negociaciones.
                p Posee un título de Licenciada en Analisis de Sistemas de la Universidad Nacional de Asunción con especializaciones en gerenciamiento de proyectos y desarrollo de negocios.
                p Anteriormente manejó complicados acuerdos internacionales en cargos gerenciales en Brand-Rex (Fife, Escocia), Quintiles (Livingston, Escocia), Banco Sudameris (Asunción, Paraguay). Hasta recientemente, Rosiemarie era Directora de Ventas para meeco América Latina, la subsidiaria de meeco en Paraguay.
                p Rosemarie tiene un importante historial en desarrollo de negocios, ventas, cobro de deudas y negociaciones de acuerdos. 
              .modal-footer
                button(type="button" class="btn btn-default" data-dismiss="modal") Close

    mixin copyright()
