include ../../_include/_defaultLayout_es.jade
!!!
html(lang="es")
  head
    mixin head()
    script(src="/plugins/greensolutions.js")
    
    +title("Quienes Somos")
    
  body
    #wrap
      mixin top()
      mixin header()
      // Content Part
      .container
        // Service Blocks 
        //div(class="row margin-bottom-10")
        .row
          .col-md-12
            h1.headline Green Solutions - Quienes Somos
        .row.headline
          .col-md-6
            h2 Historia
            p fundado como CAFEL S.A. en el año ..., trabajo en construcciones, luego nos expandimos el área de trabajo al aprovechamiento sustentable de recursos naturales.
          .col-md-6
            h2 Misión:
            p Inversion en producción sostenible para ganancias sostenibles.
        .row.headline.personal
          .col-md-9
            h2 Personal:
            p <strong>Director: Presidente- Lic. Rosemarie Jann</strong>
          .col-md-3
            img(src="/img/quienesSomos/rosemariejann.jpg" alt="Rosemarie Jann" class="img-thumbnail")

        .row.headline.personal
          .col-md-3
            h3 Grupo Construcciones:
            p Arq. Alcides Adorno
            p Arq. Amando Peralta
          .col-md-3
            img(src="/img/quienesSomos/alcides adorno.jpg" alt="Alcides Adorno" class="img-thumbnail")
          .col-md-3
            h3 Grupo Forestal:
            p Ing. Juan Adolfo Romero
          .col-md-3
            img(src="/img/quienesSomos/Adolfo Romero b&w.jpg" alt="Adolfo Romero" class="img-thumbnail")
        .row.headline.personal
          .col-md-3
            h3 Grupo Agropecuario:
            p Ing. Rodolfo von Glasenapp
          .col-md-3
            img(src="/img/quienesSomos/rodolfo.jpg" alt="Rodolfo von Glasenapp" class="img-thumbnail")
          .col-md-3
            h3 Grupo Energía:
            p Lic. Rosemarie Jann
          .col-md-3
            img(src="/img/quienesSomos/rosemariejann.jpg" alt="Rosemarie Jann" class="img-thumbnail")


        .row.headline
          .col-md-12
            h2 Referencias
            table.table.table-striped
              thead
                tr
                  th año
                  th área del proyecto
                  th proyectista
                  th nombre del proyecto
                  th nombre del cliente
              tbody
                tr
                  td 1999
                  td Forestal 
                  td Dr. agr. Oliver Jann 
                  td Estancia Tres Ollas
                  td HMS Holz (incluir link)
                tr
                  td 2013
                  td Agropecuario 
                  td Dr. agr. Oliver Jann 
                  td Aprovechamiento de residuos agrícolas para el engorde semintesivo
                  td Riacho-i S.A. 
                tr
                  td 2012 
                  td Agropecuario
                  td Dr. agr. Oliver Jann 
                  td Suelos y potencial productivo 
                  td Riacho-i S.A.
                tr
                  td 2012/2013 
                  td Ambiental 
                  td Construcción de Estaciones de Peaje, Pesajes y Casetas de Control Policial de la Ruta Nacional Nº 10 
                  td Ing. Adolfo Romero 
                  td Aponte Latorre S.A.
                tr
                  td 2011 
                  td Ambiental 
                  td Elaboración y Presentación del CAB para la Pavimentación tipo Empedrado del Tramo: Arazapé, Yegros 
                  td Ing. Adolfo Romero 
                  td Consultora Guarani
                tr
                  td 2011 
                  td Ambiental 
                  td Elaboración y Presentación del CAB para la construcción del Puente Sobre el Río Tembey
                  td Ing. Adolfo Romero 
                  td Aponte Latorre S.A.
                tr
                  td 2010 
                  td Ambiental 
                  td Construcción de Pavimento Asfáltico en Zona de Relocalización Comercial Contrato “A”, Distrito de Encarnación, Departamento de Itapúa, República del Paraguay A
                  td Ing. Adolfo Romero 
                  td Consorcio Buena Vista
                tr
                  td 2010 
                  td Ambiental 
                  td Construcción de Pavimento Asfáltico en Zona de Relocalización Comercial Contrato “B”, Distrito de Encarnación, Departamento de Itapúa, República del Paraguay B 
                  td Ing. Adolfo Romero 
                  td ING. CARLOS GUEYRAUD
                tr
                  td 2009/2010 
                  td Ambiental 
                  td Construcción de Infraestructura y Equipamiento Faltante en la  Relocalización Comercial de Encarnación
                  td Ing. Adolfo Romero
                  td Concorcio Buena Vista
                tr
                  td 2008/2011 
                  td Ambiental 
                  td Relocalización del Aeropuerto de Encarnación 
                  td Ing. Adolfo Romero, Consorcio EDB 
                  td Constructora Asunción, para la Entidad Binacional Yacyretá
      

    mixin copyright()
