include ../../_include/_defaultLayout_de.jade
!!!
html(lang="de")
  head
    mixin head()
    +title("Das Unternehmen")
    
  body
    #wrap
      mixin header()
      // Content Part
      .container
        // Service Blocks 
        .row
          .col-md-12
            h1.headline Green Solutions - Das Unternehmen
        .row.headline
          .col-md-6
            h2 Geschichte
            p Greensolutions wurde 2007 als CAFEL S.A. als Consultingfirma im Baugwerbe gegründet. Mit der Erweiterung des Geschäftsfeldes entstand ein multi-disziplinäres Unternehmen mit Focus auf die Nutzung natürlicher Ressourcen. Um diese erweiterte Unternehmensstrategie zu unterstreichen haben wir den Namen Greensolutions S.A. angenommen.
          .col-md-6
            h2 Mission:
            p Unterstützung nachhaltiger Investitionen für sichere und dauerhafte Renditen.
        .row.headline.personal
          .col-md-3
            h2 Präsident:
            p <strong>Lic. Rosemarie Jann</strong>
            button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#rosemarie")
              | Biografía
          .col-md-9
            img(src="/img/quienesSomos/rosemariejann.jpg" alt="Rosemarie Jann" class="img-thumbnail")

        .row.headline.personal
          .col-md-3
            h3 Arbeitsgruppe Baugewerbe:
            p Arq. Alcides Adorno
            button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#alcides")
              | Biografía
          .col-md-3
            img(src="/img/quienesSomos/alcides.jpg" alt="Alcides Adorno" class="img-thumbnail")
          .col-md-3
            h3 Arbeitsgruppe Umwelt und Forstwirtschaft:
            p Ing. Juan Adolfo Romero
            button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#adolfo")
              | Biografía
          .col-md-3
            img(src="/img/quienesSomos/adolfo.jpg" alt="Adolfo Romero" class="img-thumbnail")
        .row.headline.personal
          .col-md-3
            h3 Arbeitsgruppe Agrar:
            p Ing. Rodolfo von Glasenapp
            button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#rodolfo")
              | Biografía
          .col-md-3
            img(src="/img/quienesSomos/rodolfo.jpg" alt="Rodolfo von Glasenapp" class="img-thumbnail")
          .col-md-3
            h3 Arbeitsgruppe Energie:
            p Lic. Rosemarie Jann
            button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#rosemarie")
              | Biografía
          .col-md-3
            img(src="/img/quienesSomos/rosemariejann.jpg" alt="Rosemarie Jann" class="img-thumbnail")


        //Modal Alcides Adorno
        div(class="modal fade" id="alcides" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                h4(class="modal-title" id="myModalLabel") Eladio Alcides Adorno Peña
              .modal-body
                p Nach Abschluss seines Studiums der Architektur an der Nationalen Universität Asunción hat  sich Alcides Aufbaustudiengänge in Verwaltung und Finanzen, sowie universitärer Didaktik absolviert.
                p Er war als planmässiger Professor für Bauwesen in der Fakultät für Architektur der Nationalen Universität Asunción und als Professor für Projektmanagement der Amerikanischen Universität Asunción tätig.
                p Alcides hat zahlreiche Ausschreibungen im Bereich Architektur und Stadtplanung gewonnen, wie z.B. Petrobras, Club Internacional de Tenis, Municipalidad de Villa Elisa, Santa Elena Country Club y Caja Mutual de Cooperativistas.
                p Er ist Urheber von Projekten wie der Parque Industrial Panamericano, Petrobras, Salon Vip Citibank und tátig in der Planung von Uferprominaden in Städten wie Concepción, Villa Elisa y Villeta.
                p Zur Zeit leitet er ein Architekturbüro und die Gruppe Bau der Greensolutions.
              .modal-footer
                button(type="button" class="btn btn-default" data-dismiss="modal") Close

        //Modal Juan Adolfo Romero
        div(class="modal fade" id="adolfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                h4(class="modal-title" id="myModalLabel") JUAN ADOLFO ROMERO RIVEROS
              .modal-body
                p Juan Adolfo hat mehr als 10 Jahre Erfahrung als Consultant für Umweltangelegenheiten, Projektentwicklung und Management im Arbeitsfeld Forstwissenschaften, Industrie, Ingenieurswesen und erneuerbaren Energien.
                p Er ist Forstingenieur mit Diplom der Nationalen Universität Asuncion und Inhaber der Lizenzen als Forstberater (Infona) und Umweltberater (SEAM). Juan Adolfo hat zwei abgeschlossene Master Studiengänge mit Spezialisierung in Umweltauditorie und umweltgerechter Stadtplanung der Nationalen Autonomen Universität Mexico.
                p In der Vergangenheit war er als Chief Consultant bei Aponte Latorre und als Umweltspezialist bei Consultora Guaraní tätig. Desweiteren war er für die Erstellung einer Reihe von Umweltverträglichkeitsstudien wichtiger Grosskunden wir Itaipu Binacional oder  Yacyreta verantwortlich.
                p Juan Adolfo ist zur Zeit Präsident der paraguayischen Vereinigung der Forstingenieure Leiter der Gruppe Forst & Umwelt der Greensolutions. 
                p Er erarbeitet Umweltleitlinien für diverse Projekte und dient als Kontakt zu nationalen Institutionen für Genehmigungen und Lizenzierung. 
              .modal-footer
                button(type="button" class="btn btn-default" data-dismiss="modal") Close

        //Modal Rodolfo von Glasenapp
        div(class="modal fade" id="rodolfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                h4(class="modal-title" id="myModalLabel") Rodolfo von Glasenapp
              .modal-body
                p Rodolfo hat mehr als 20 Jahre Erfahrung in Farmmanagement, landwirtschaftlicher Geschäftsentwicklung und Landnutzungsplanung.
                p Er besitzt einen Titel als Agraingenieur der agrarwissenschaftlichen Fakultät der Nationalen Universität Asunción und Lizenzen als Landwirtschaftsberater (Senave), Umweltberater (SEAM) und Forstberater (Infona). Rodolfo hält zwei Mastertitel in Tierernährung (Piracicaba, Brasil) und Umweltwissenschaften und Landnutzungsplanung der Nationalen Universität Asunción.
                p Rodolfo war Leiter zahlloser Projekte in Landtransformation und Agribusiness und war als Berater für eine Vielzahl Deutscher, Brasilianischer und Paraguayischer Unternehmen und Institutionen, sowie für multinationale Konzerne tätig.
                p Rodolfo ist zur Zeit Senior Consultant der Gruppe FD und Leiter der Gruppe Landwirtschaft der greensolutions. 
              .modal-footer
                button(type="button" class="btn btn-default" data-dismiss="modal") Close

        //Modal Rosemarie Jann
        div(class="modal fade" id="rosemarie" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                h4(class="modal-title" id="myModalLabel") Lic. Rosemarie JANN
              .modal-body
                p Rosemarie hat über 15 Jahre Erfahrung in public relations und Finanzmanagement in internationalen Geschäften mit einem herrausragenden Rekord in Geschäftsentwicklung und Verhandlungsführung.
                p Sie ist Systemanalystin mit Lizenziatur der Nationalen Universität Asunción mit Spezialisierungen in Projektmanagement und Geschäftsentwicklung.
                p In der Vergangenheit hat sie in diversen Managementpositionen komplexe internationale Vereinbarungen für Firmen wie Brand-Rex (Fife, Escocia), Quintiles (Livingston, Escocia), Banco Sudameris (Asunción, Paraguay) verhandet. Bis vor Kurzem war Rosemarie Verkaufsdirektorin der meeco América Latina, eine Niederlassung der Schweizer meeco AG en Paraguay. Rosemarie hat einen umfangreichen Rekord in Verkauf, Kreditmanagement und Vertragsverhandlungen. 
                p Sie ist Geschäftsführerin und Mitgründerin der greensolutions. 
              .modal-footer
                button(type="button" class="btn btn-default" data-dismiss="modal") Close

    mixin copyright()
