include ../../_include/_defaultLayout_es.jade
!!!
html(lang="es")
  head
    mixin head()
    script(src="/plugins/greensolutions.js")
    
    title Green Solutions S.A. - Recursos Naturales
    
  body
    #wrap
      mixin top()
      mixin header()

      .container
        .row
          .col-md-6
            h1.headline Forestal y Biodiversidad            
            p Antes de la introducción de la ganadería y la agricultura mecanizada Paraguay era uno de los países con más cobertura boscosa del planeta. Las condiciones ecológicas para tal producción forestal están entre las mejores del mundo. Sin embargo la alta tasa de deforestación ha llegado a una pérdida casi completa de bosques naturales con aptitud comercial. Paralelamente hay un aumento pronunciado de la demanda nacional e internacional por madera y otros productos forestales.
            p La producción forestal nacional es muy limitada en relación al crecimiento de demanda, abriendo un panorama extremadamente positivo para inversiones en el sector.
            p Cabe consignar que actualmente la demanda interna y externa de la madera ya supera la capacidad de la producción de los bosques de la región oriental del país, sobre la base de un manejo forestal sostenible.
            h3 Cubrimos:
            ul
              li Servicios Ambientales
              li Estudios de factibilidad (Due diligence)
              li Estudios de impacto ambiental
              li Plan de uso de la tierra
              li Planificación, ejecución y administración de proyectos forestales de finalidad ambiental y productivo.
              li Compra y venta de propiedades rurales
              li Administracion de propiedades rurales
              li Manejo de bonos ambientales y emission trading.
          .col-md-6
            img(src="/img/forestalAmiental/bosque.jpg" class="img-thumbnail")
            img(src="/img/forestalAmiental/eucalyptus.jpg" class="img-thumbnail")
         .row
          .col-md-6
            img(src="/img/forestalAmiental/nativo.JPG" class="img-thumbnail")
          .col-md-6
            img(src="/img/forestalAmiental/Leucaena.JPG" class="img-thumbnail")
            img(src="/img/forestalAmiental/vivero.jpg" class="img-thumbnail")


    mixin copyright()
