include ../../_include/_defaultLayout_en.jade
!!!
html(lang="en")
  head
    mixin head()
    title Green Solutions S.A. - Agricultural
    
  body
    #wrap
      mixin header()
      
      .container
        .row
          .col-md-6
            h1.headline Agricultural
            h3 OUR PROFESSIONAL SERVICES
            h4 Advisory and Consultancy 
            ul
              li Feasibility studies (Due diligence)
              li Investment analysis
              li Advice on purchase-sale of real estate
              li Valuations
              li Environmental impact studies
              li Environmental, agricultural and industrial analysis and diagnosis.
            h4 Project development 
            ul
              li Environmental impact studies 
              li Soil studies 
              li Satellite images
              li Land use planning
              li Preparation of thematic maps
              li Surveying and topography
            h4 Project management 
            ul
              li Design, implementation and execution of agricultural projects
              li Management of rural properties
              li Soil recovery planning
              li Precision agriculture
              li Implementation of GIS (Geographic Information Systems) 
          .col-md-6
            .row
              .col-md-12
                .lead-image
                  img(src="/img/agropecuaria/Base genetica para cruzamiento Brahman x Gelbvieh, Chaco 2009.jpg" class="img-thumbnail")
                  span(class="caption")
                    p Base genetica para cruzamiento Brahman x Gelbvieh, Chaco 2009
            .row2.thumbs
              img(src="/img/agropecuaria/Base genetica para cruzamiento Brahman x Gelbvieh, Chaco 2009.jpg" class="img-responsive lead-thumb")
              img(src="/img/agropecuaria/Manejo de agua en arroz 2013.jpg" class="img-responsive lead-thumb")
              img(src="/img/agropecuaria/Plan de uso de la tierra 2013.jpg" class="img-responsive lead-thumb" alt="plan de uso de la tierra")
              img(src="/img/agropecuaria/Plantacion silvopastoril de Leucaena Chaco 2013.jpg" class="img-responsive lead-thumb" alt="Plantacion silvopastoril de Leucaena Chaco 2013")
              img(src="/img/agropecuaria/Plantación de arroz Itapua 2013.jpg" class="img-responsive lead-thumb")
              img(src="/img/agropecuaria/Trabajos de Topgrafia 2014.jpg" class="img-responsive lead-thumb" alt="Trabajos de Topgrafia 2014")
              img(src="/img/agropecuaria/Producción ganadera sustentable Presidente Hayes 2008.jpg" class="img-responsive lead-thumb" alt="Plantacion silvopastoril de Leucaena Chaco 2013")
              img(src="/img/agropecuaria/Trabajando según curva de nivel Itapua 2013.jpg" class="img-responsive lead-thumb" alt="Plantacion silvopastoril de Leucaena Chaco 2013")
        
        .row
          .col-md-12
            hr
            p Paraguay offers the perfect climate and soil for agricultural production. The high investments in the sector bring a permanent growth in production rates. National and international prices of agricultural products have increased very rapidly and the growing global demand ensures a continuation of this trend.
            p To date, it's only being used a fraction of a productive potential can only be called amazing. The land prices increased over 500% in the last 10 years and are still well below the international level.
              
    mixin copyright()
    //
                         