include ../../_include/_defaultLayout_de.jade
!!!
html(lang="de")
  head
    mixin head()
    title Green Solutions S.A. - Bau
    
  body
    #wrap
      mixin header()
      
      .container
        .row
          .col-md-6
            h1.headline Bau
            h3 Unsere Dienstleistungen
            h4 Beratung 
            ul
              li Investitionsanalyse
              li Beratung in Ankauf und Verkauf von Immobilien
              li Wertermittlung
              li Projektionen für Bauträger und Privatkunden 
              li Baudurchführung und Bauabnahme 
            h3 Projektentwicklung
            h4 Architektur
            ul
              li Ein- und Mehrfamilienhäuser
              li Geschäftsgebäude	
              li Industriebauten
            h4 Bauingenieurswesen
            ul
              li Metall- und armierte Betonkonstruktionen
              li Hydráulische Installationen
              li Elektroinstallationen
            h3 Bau
            h4 Generalunternehmen für Privat- und Industriebau
            ul
              li Familienhäuser
              li Gebäude
              li Geschäftszentren
              li Metall- und Betonkonstruktionen
              li Elektro- und Wasserinstallationen
              li Tankstellen
              li Agroindustrie

          .col-md-6
            .row
              .col-md-12
                .lead-image
                  img(src="/img/construccion/Barrio Cerrado Luque 2010.jpg" class="img-thumbnail")
                  span(class="caption")
                    p Barrio Cerrado Luque 2010
            .row2.thumbs
              img(src="/img/construccion/Barrio Cerrado Luque 2010.jpg" class="img-responsive lead-thumb")
              img(src="/img/construccion/Caja Mutual de Cooperativistas.jpg" class="img-responsive lead-thumb")
              img(src="/img/construccion/Club Internacional de Tenis 2012.jpg" class="img-responsive lead-thumb")
              img(src="/img/construccion/Costanera Concepcion 2011.jpg" class="img-responsive lead-thumb")
              img(src="/img/construccion/Edificio Torre 2004.jpg" class="img-responsive lead-thumb")
              img(src="/img/construccion/Parque de Paseos Villa Elisa 2010.jpg" class="img-responsive lead-thumb")
              img(src="/img/construccion/Viviendas unifamiliares.jpg" class="img-responsive lead-thumb")
        .row
          .col-md-12
            hr
            p Paraguay erfährt zur Zeit einen regelrechten Bauboom. Das hohe Wirtschaftswachstum und der starke Zufluss ausländischen Kapitals hat eine aussergewöhnliche Nachfrage nach qualitativ hochwertigen Immobilien entfacht, die für absehbare Zeit nicht befriedigt werden kann.
            p Im internationalen Vergleich bewegen sich die Immobilienpreise noch immer auf sehr niedrigen Niveau, folgen aber einem sich beschleunigenden, signifikanten und konstanten Aufwärtstrend.
            p Innerhalb dieses generellen Panoramas finden sie bei uns interessante und hochrentable Investitionsmöglickeiten mit ausserordentlich positiven Zukunftsperspektiven, sowie alle damit verbundene Dienstleistungen.

  mixin copyright()
